body {
    background-color: grey;
}

#dataItemContainer {
    margin-top: 2px;
    margin-bottom: 2px;
}

.dataItem {
    margin-top: 2px;
    margin-bottom: 2px;
}

/* ZingChart */
.zc-ref {
  display: none;
}

.myLogo {
    padding-right: 1em;
    width:120px;
    height:50px;
}

.navbar-brand {

}