body {
    background-color: #fff;
}

#dataItemContainer {
    margin-top: 2px;
    margin-bottom: 2px;
}

.dataItem {
    margin-top: 2px;
    margin-bottom: 2px;
}

.myLogo {
    padding-right: 1em;
    width: 120px;
    height: 50px;
}

.navbar-brand {

}

.widget {

}

/* Widget text */
.widgetMainTextSize {
    color: ghostwhite;
    font-family: sans-serif;
    font-size: 3em;
}

.widgetSubTextSize {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 100;
}


/* Glas Efekt på Gauges */
.glassGauges{
    /* background styles */
    /*position: relative;*/
    /*display: inline-block;*/
    padding: 5px 5px;
    background-color: dodgerblue; /*for compatibility with older browsers*/
    background-image: linear-gradient(dodgerblue, deepskyblue);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 0;
    border-radius: 5px;
    /*box-shadow: 0px 1px 4px -2px #333;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    text-shadow: 0px -1px #333;
}


/* Glas Efekt på widgets */
.glass{
    /* background styles */
    /*position: relative;*/
    /*display: inline-block;*/
    /*padding: 15px 25px;*/
    background-color: dodgerblue; /*for compatibility with older browsers*/
    background-image: linear-gradient(dodgerblue, deepskyblue);

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 0;
    border-radius: 5px;
    /*box-shadow: 0px 1px 4px -2px #333;*/
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    text-shadow: 0px -1px #333;
}

.thumbnail {
    padding: 1em;
}





/* Zing Chart */
*{
    box-sizing: border-box;
    font-family : "verdana"
}

.zc-ref {
    display: none;
}

#chart-1 {
    border-radius: 8px;
}

#chart-2 {
    border-radius: 8px;
}

#chart-3 {
    border-radius: 8px;
}

#chart-4 {
    border-radius: 8px;
}

#chart-5 {
    border-radius: 8px;
}

#chart-6 {
    border-radius: 8px;
}


.dashboardGaugeRow {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

