<!--
/**********************************************/
/**          probereadings.template.html     **/
/**********************************************/
-->

<div class="container-fluid">
<h1>Readings:</h1>
<!-- ******* Starta: Värd Lista ******* -->
<div class="well well-lg" style="background: rgb(245,245,245);">   <!-- white smoke #F5F5F5-->
  <!-- Starta: kolumnrubriker  -->
  <div class="row well well-sm" style="font-weight: 900;background: rgb(176,196,222);">   <!-- light steel blue	#B0C4DE -->
    <div class="col-md-1"><a ng-click="$ctrl.sortDataItems('id')">ID</a></div>
    <div class="col-md-1"><a ng-click="$ctrl.sortDataItems('date')">Date</a></div>
    <div class="col-md-2">PH</a></div>
    <div class="col-md-2">ORP</div>
    <div class="col-md-2">TEMP UW</a></div>
    <div class="col-md-2">TEMP AMB</a></div>
    <div class="col-md-2">HUMIDITY</a></div>
  </div>
  <!-- Slut kolumnrubriker -->

  <!-- TODO Fixa radavstånd -->
  <!-- Lista  -->
  <div class="container-fluid" id="dataItemContainer" ng-repeat="dataItem in $ctrl.probeDataListing  | orderBy: $ctrl.sortDataItems">
    <span class="row">
      <!-- ID -->
      <!--gainsboro	#DCDCDC	(220,220,220)-->
      <div class="col-md-1 dataItem"><span class="badge" style="background: rgb(220,220,220);"><a ui-sref="probereadingsDetail({id: dataItem.id})">{{dataItem.id}}</a></span></div>
      <!-- DATUM -->
      <div class="col-md-1 dataItem">{{ dataItem.created_at | date:'medium'}}</div> <!-- TODO fixa datum formatering --> <!-- shortDate -->
      <!-- PH -->
      <div class="col-md-2 dataItem">{{dataItem.ph}}</div>
      <!-- ORP -->
      <div class="col-md-2 dataItem">{{dataItem.orp}}</div>
      <!-- TEMPUW -->
      <div class="col-md-2 dataItem">{{dataItem.tempuw}}</div>
      <!-- TEMPAMB -->
      <div class="col-md-2 dataItem">{{dataItem.tempamb}}</div>
      <!-- HUMIDITY -->
      <div class="col-md-2 dataItem">{{dataItem.humidity}}</div>
    </div>
  </div>
</div>
<!-- ******* Slut: Värd Lista ******* -->
</div>

